Repository GuillaumeLecomte1/Pivot: changes, and which lint-staged commands are due for each by the changed paths.
All: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write, echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint --quiet, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress --quiet --memory-limit=512M, echo ' 📦 Package.json: formatage avec Biome...', echo ' 🎼 Composer.json: validation...', composer validate --no-check-publish --quiet, echo ' 📄 Markdown: formatage avec Biome...', biome format --write --no-errors-on-unmatched

feat(frontend): add ProductList component with edit and delete functionality
  resources/js/components/ProductList.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write

feat(backend): add POST /api/products endpoint for creating products
  app/Http/Controllers/ProductApiController.php
  resources/js/pages/Ressourcerie/Dashboard.tsx
  routes/api.php
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write, echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint --quiet, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress --quiet --memory-limit=512M

feat(backend): add PUT /api/products/{id} endpoint for editing products
  app/Http/Controllers/ProductApiController.php
  resources/js/pages/Ressourcerie/Dashboard.tsx
  routes/api.php
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write, echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint --quiet, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress --quiet --memory-limit=512M

feat(backend): add DELETE /api/products/{id} endpoint for deleting products
  app/Http/Controllers/ProductApiController.php
  resources/js/pages/Ressourcerie/Dashboard.tsx
  routes/api.php
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write, echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint --quiet, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress --quiet --memory-limit=512M

feat(scrutiny): add ressourcerie-dashboard scrutiny validation
  .factory/validation/ressourcerie-dashboard/scrutiny/reviews/dashboard-add-product.json
  .factory/validation/ressourcerie-dashboard/scrutiny/reviews/dashboard-delete-product.json
  .factory/validation/ressourcerie-dashboard/scrutiny/reviews/dashboard-edit-product.json
  .factory/validation/ressourcerie-dashboard/scrutiny/reviews/product-form-component.json
  .factory/validation/ressourcerie-dashboard/scrutiny/reviews/product-list-component.json
  .factory/validation/ressourcerie-dashboard/scrutiny/reviews/product-schema-validation.json
  .factory/validation/ressourcerie-dashboard/scrutiny/reviews/ressourcerie-dashboard-route.json
  .factory/validation/ressourcerie-dashboard/scrutiny/synthesis.json
Due: none

fix(scrutiny): update ressourcerie-dashboard synthesis to round 2
  .factory/validation/ressourcerie-dashboard/scrutiny/reviews/dashboard-add-product.json
  .factory/validation/ressourcerie-dashboard/scrutiny/synthesis.json
Due: none

feat(frontend): add EcoPivot branded demo login page
  resources/js/layouts/auth/demo-auth-layout.tsx
  resources/js/pages/Demo/Index.tsx
  resources/js/pages/auth/demo-login.tsx
  routes/auth.php
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write, echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint --quiet, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress --quiet --memory-limit=512M

feat(frontend): add demo ressourcerie dashboard with EcoPivot design
  resources/js/pages/Ressourcerie/DemoDashboard.tsx
  resources/js/pages/auth/demo-login.tsx
  routes/web.php
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write, echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint --quiet, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress --quiet --memory-limit=512M

feat(frontend): add Team Management page with EcoPivot design
  resources/js/pages/Ressourcerie/DemoDashboard.tsx
  resources/js/pages/Ressourcerie/DemoTeam.tsx
  routes/web.php
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write, echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint --quiet, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress --quiet --memory-limit=512M

feat(frontend): add Inventory Management page with EcoPivot design
  resources/js/pages/Ressourcerie/DemoInventory.tsx
  routes/web.php
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write, echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint --quiet, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress --quiet --memory-limit=512M

feat(frontend): add Analytics and Settings pages to demo hub
  resources/js/pages/Ressourcerie/DemoAnalytics.tsx
  resources/js/pages/Ressourcerie/DemoSettings.tsx
  routes/web.php
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write, echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint --quiet, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress --quiet --memory-limit=512M

fix(demo): replace AppLayout with DemoPageLayout to avoid auth.user null crash
  resources/js/layouts/app/demo-page-layout.tsx
  resources/js/pages/Ressourcerie/DemoAnalytics.tsx
  resources/js/pages/Ressourcerie/DemoDashboard.tsx
  resources/js/pages/Ressourcerie/DemoInventory.tsx
  resources/js/pages/Ressourcerie/DemoSettings.tsx
  resources/js/pages/Ressourcerie/DemoTeam.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write

fix(demo): use DemoSidebar without auth dependency, fix SidebarProvider error
  resources/js/components/demo-sidebar.tsx
  resources/js/layouts/app/demo-page-layout.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write

fix(demo): wrap DemoSidebar in SidebarProvider
  resources/js/layouts/app/demo-page-layout.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write

fix(dokploy): clear Vite cache on container start to avoid stale assets
  docker/start.sh
Due: none

fix(demo): remove DemoPageLayout wrapper as demo pages render their own complete UI
  resources/js/pages/Ressourcerie/DemoAnalytics.tsx
  resources/js/pages/Ressourcerie/DemoDashboard.tsx
  resources/js/pages/Ressourcerie/DemoInventory.tsx
  resources/js/pages/Ressourcerie/DemoSettings.tsx
  resources/js/pages/Ressourcerie/DemoTeam.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write

fix(demo): update navigation links in demo pages to point to correct URLs
  resources/js/pages/Ressourcerie/DemoDashboard.tsx
  resources/js/pages/Ressourcerie/DemoInventory.tsx
  resources/js/pages/Ressourcerie/DemoTeam.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write

fix(demo): remove flex wrapper around fixed sidebar to fix layout
  resources/js/pages/Ressourcerie/DemoAnalytics.tsx
  resources/js/pages/Ressourcerie/DemoDashboard.tsx
  resources/js/pages/Ressourcerie/DemoInventory.tsx
  resources/js/pages/Ressourcerie/DemoSettings.tsx
  resources/js/pages/Ressourcerie/DemoTeam.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write

feat(demo): collapsible sidebar with proper icons and shadcn/ui components
  resources/js/components/demo-sidebar.tsx
  resources/js/pages/Ressourcerie/DemoAnalytics.tsx
  resources/js/pages/Ressourcerie/DemoDashboard.tsx
  resources/js/pages/Ressourcerie/DemoInventory.tsx
  resources/js/pages/Ressourcerie/DemoTeam.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write

feat(demo): unify all demo pages with shared DemoLayout and collapsible sidebar
  resources/js/layouts/demo-layout.tsx
  resources/js/pages/Ressourcerie/DemoAnalytics.tsx
  resources/js/pages/Ressourcerie/DemoDashboard.tsx
  resources/js/pages/Ressourcerie/DemoInventory.tsx
  resources/js/pages/Ressourcerie/DemoSettings.tsx
  resources/js/pages/Ressourcerie/DemoTeam.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write

refactor(demo): restore old sidebar design with icons and collapse toggle
  resources/js/components/demo-sidebar.tsx
  resources/js/layouts/demo-layout.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write --no-errors-on-unmatched, biome format --write

Path conditions:
  echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...': any of: *.{js,jsx,ts,tsx}
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx}
  biome format --write: (any of: *.{js,jsx,ts,tsx}) or (any of: package.json)
  echo ' 🎨 Laravel Pint: formatage du code PHP...': any of: *.php
  ./vendor/bin/pint --quiet: any of: *.php
  echo ' 🔍 PHPStan: analyse statique PHP...': any of: *.php
  ./vendor/bin/phpstan analyse --no-progress --quiet --memory-limit=512M: any of: *.php
  echo ' 📦 Package.json: formatage avec Biome...': any of: package.json
  echo ' 🎼 Composer.json: validation...': any of: composer.json
  composer validate --no-check-publish --quiet: any of: composer.json
  echo ' 📄 Markdown: formatage avec Biome...': any of: *.md
  biome format --write --no-errors-on-unmatched: any of: *.md
