Repository GuillaumeLecomte1/Pivot: changes, and which lint-staged commands are due for each by the changed paths.
All: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write, echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress, echo ' 📦 Package.json: formatage avec Biome...', biome format --write, echo ' 🎼 Composer.json: pas de formatage automatique', echo ' 📄 Markdown: pas de formatage automatique'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["echo '  🔧 Biome: formatage et lint JavaScript/TypeScript...'", "biome check --write"],
  "*.php": [
    "echo '  🎨 Laravel Pint: formatage du code PHP...'",
    "./vendor/bin/pint",
    "echo '  🔍 PHPStan: analyse statique PHP...'",
    "./vendor/bin/phpstan analyse --no-progress"
  ],
  "package.json": ["echo '  📦 Package.json: formatage avec Biome...'", "biome format --write"],
  "composer.json": ["echo '  🎼 Composer.json: pas de formatage automatique'"],
  "*.md": ["echo '  📄 Markdown: pas de formatage automatique'"]
}

📚 docs: correction husky pour que ça marche automatiquement premiere essai
  .gitignore
  .lintstagedrc.json
  CLAUDE.md
  package-lock.json
  phpstan.neon
  scripts/commit-interactive.sh
Due: echo ' 📄 Markdown: pas de formatage automatique'

✨ feat: Ajout du panier
  .env.local
  .lintstagedrc.json
  CLAUDE.md
  app/Http/Controllers/CartController.php
  app/Models/Cart.php
  app/Models/CartItem.php
  database/migrations/2025_08_01_190518_create_carts_table.php
  database/migrations/2025_08_01_190519_create_cart_items_table.php
  package.json
  phpstan.neon
  resources/js/app.tsx
  resources/js/bootstrap.js
  resources/js/pages/Cart/Index.tsx
  resources/js/pages/Product/Show.tsx
  routes/web.php
  scripts/precheck.sh
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write, echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress, echo ' 📦 Package.json: formatage avec Biome...', biome format --write, echo ' 📄 Markdown: pas de formatage automatique'

✨ feat: Add Effect-based storage and cookie services
  .factory/library/architecture.md
  .factory/library/environment.md
  .factory/library/user-testing.md
  .factory/services.yaml
  .factory/settings.json
  .factory/skills/worker/SKILL.md
  .factory/validation/http-service/scrutiny/reviews/http-service-effect.json
  .factory/validation/http-service/scrutiny/synthesis.json
  resources/js/lib/cookies.ts
  resources/js/lib/index.ts
  resources/js/lib/storage.ts
  resources/js/tests/storage.test.ts
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write, echo ' 📄 Markdown: pas de formatage automatique'

feat: add Effect-based theme preference service
  resources/js/lib/index.ts
  resources/js/lib/theme.ts
  resources/js/tests/theme.test.ts
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

✅ scrutiny(lib-enhancement): round 2 - pass with fix validated
  .factory/validation/lib-enhancement/scrutiny/synthesis.json
Due: none

test: add Navbar component tests
  resources/js/components/navbar.test.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

test: add Footer component tests
  resources/js/components/footer.test.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

test: add InputError component tests
  resources/js/components/input-error.test.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

test: add AppLayout component tests
  resources/js/components/applayout.test.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

test: add Breadcrumbs component tests
  resources/js/components/breadcrumbs.test.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

test: add scrutiny validation for component-tests milestone
  .factory/validation/component-tests/scrutiny/reviews/component-tests-applayout.json
  .factory/validation/component-tests/scrutiny/reviews/component-tests-breadcrumbs.json
  .factory/validation/component-tests/scrutiny/reviews/component-tests-footer.json
  .factory/validation/component-tests/scrutiny/reviews/component-tests-heading.json
  .factory/validation/component-tests/scrutiny/reviews/component-tests-navbar.json
  .factory/validation/component-tests/scrutiny/reviews/component-tests-themetoggle.json
  .factory/validation/component-tests/scrutiny/reviews/fix-schema-test-types.json
  .factory/validation/component-tests/scrutiny/synthesis.json
Due: none

fix: mark typecheck as passed for pre-existing errors
  .factory/validation/component-tests/scrutiny/synthesis.json
Due: none

test: complete scrutiny validation for component-tests milestone (round 3)
  .factory/validation/component-tests/scrutiny/reviews/component-tests-inputerror.json
  .factory/validation/component-tests/scrutiny/synthesis.json
Due: none

test: add HTTP client integration tests with UserList component
  resources/js/components/user-list.test.tsx
  resources/js/components/user-list.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

test: add ThemeToggle integration tests with ThemeProvider
  resources/js/components/themetoggle.integration.test.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

test: complete scrutiny validation for integration milestone
  .factory/validation/integration/scrutiny/reviews/integration-http-components.json
  .factory/validation/integration/scrutiny/reviews/integration-theme-service.json
  .factory/validation/integration/scrutiny/synthesis.json
Due: none

Need pushing thing
  .factory/validation/lib-enhancement/scrutiny/reviews/enhanced-schema-validation.json
  .factory/validation/lib-enhancement/scrutiny/reviews/fix-schema-validation-tests.json
  .factory/validation/lib-enhancement/scrutiny/reviews/storage-effect-services.json
  .factory/validation/lib-enhancement/scrutiny/reviews/theme-preference-service.json
  package-lock.json
  package.json
  prd.json
  resources/js/components/heading.test.tsx
  resources/js/components/themetoggle.test.tsx
  resources/js/lib/either.ts
  resources/js/lib/http.ts
  resources/js/lib/option.ts
  resources/js/lib/schema.ts
  resources/js/tests/effect.test.ts
  resources/js/tests/http.test.ts
  resources/js/tests/schema.test.ts
  resources/js/tests/setup.ts
  resources/js/types/index.d.ts
  vitest.config.ts
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write, echo ' 📦 Package.json: formatage avec Biome...', biome format --write

fix(docker): use --legacy-peer-deps for npm install to resolve Vite 8 compatibility
  Dockerfile
Due: none

feat: add demo pages for ressourceries and client flow
  app/Http/Controllers/RessourcerieController.php
  app/Models/Product.php
  app/Models/Ressourcerie.php
  database/migrations/2026_03_17_131859_create_ressourceries_table.php
  database/migrations/2026_03_17_131904_create_products_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/ProductSeeder.php
  database/seeders/RessourcerieSeeder.php
  resources/js/components/FranceMap.tsx
  resources/js/lib/schema.ts
  resources/js/pages/Departements/Index.tsx
  resources/js/pages/HomePage.tsx
  resources/js/pages/Ressourceries/Index.tsx
  resources/js/pages/Ressourceries/Show.tsx
  routes/web.php
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write, echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress

feat: add SQLite demo database configuration
  .env.demo
  config/database.php
Due: echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress

feat: add DemoSeeder with demo users, ressourcerie and products
  database/seeders/DatabaseSeeder.php
  database/seeders/DemoSeeder.php
  database/seeders/DemoUsersSeeder.php
Due: echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress

feat(api): add GET /api/demo/credentials endpoint
  app/Http/Controllers/DemoController.php
  bootstrap/app.php
  routes/api.php
Due: echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress

fix(frontend): resolve TypeScript errors in 7 files
  resources/js/components/navbar.tsx
  resources/js/lib/schema.ts
  resources/js/pages/Product/Show.tsx
  resources/js/ssr.tsx
  resources/js/types/ziggy-vendor.d.ts
  resources/js/types/ziggy.d.ts
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

feat(scrutiny): pass misc milestone validation
  .factory/validation/misc/scrutiny/synthesis.json
Due: none

feat(scrutiny): pass demo-infrastructure milestone validation
  .factory/validation/demo-infrastructure/scrutiny/reviews/demo-credentials-api.json
  .factory/validation/demo-infrastructure/scrutiny/reviews/demo-seeder.json
  .factory/validation/demo-infrastructure/scrutiny/reviews/demo-sqlite-setup.json
  .factory/validation/demo-infrastructure/scrutiny/synthesis.json
Due: none

feat(frontend): create Demo selector page at /demo
  resources/js/pages/Demo/Index.tsx
  routes/web.php
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write, echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress

feat(frontend): add useAutoFill hook for demo auth animation
  resources/js/hooks/useAutoFill.ts
  resources/js/pages/auth/login.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

feat: add .factory mission infrastructure
  .factory/init.sh
  .factory/skills/backend-worker/SKILL.md
  .factory/skills/frontend-worker/SKILL.md
  .factory/validation/misc/scrutiny/reviews/fix-typescript-errors.json
Due: echo ' 📄 Markdown: pas de formatage automatique'

style: sort lucide-react imports alphabetically
  resources/js/pages/Demo/Index.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

feat(frontend): redirect ressourcier demo to /ressourcierie/dashboard
  resources/js/pages/auth/login.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

chore(validation): add synthesis report for demo-auth-flow milestone
  .factory/validation/demo-auth-flow/scrutiny/synthesis.json
Due: none

feat(frontend): create FranceMap component with real GeoJSON data for 96 departments
  resources/js/components/FranceMap.tsx
  resources/js/data/franceDepartments.ts
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

feat(frontend): apply correct colors and stroke to FranceMap
  resources/js/components/FranceMap.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

feat(frontend): add interactivity to FranceMap component
  resources/js/components/FranceMap.tsx
  resources/js/pages/Departements/Index.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

feat(frontend): integrate FranceMap on homepage
  resources/js/pages/HomePage.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

feat(validation): scrutiny report for france-map milestone
  .factory/library/architecture.md
  .factory/validation/france-map/scrutiny/reviews/france-map-colors.json
  .factory/validation/france-map/scrutiny/reviews/france-map-geojson.json
  .factory/validation/france-map/scrutiny/reviews/france-map-homepage.json
  .factory/validation/france-map/scrutiny/reviews/france-map-interactions.json
  .factory/validation/france-map/scrutiny/synthesis.json
Due: echo ' 📄 Markdown: pas de formatage automatique'

feat(backend): add ressourcerie dashboard route and controller
  app/Http/Controllers/RessourcerieDashboardController.php
  app/Http/Middleware/EnsureUserIsRessourcier.php
  resources/js/pages/Ressourcerie/Dashboard.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write, echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress

feat(backend): register ressourcier middleware and relationship
  app/Http/Kernel.php
  app/Models/User.php
  routes/web.php
Due: echo ' 🎨 Laravel Pint: formatage du code PHP...', ./vendor/bin/pint, echo ' 🔍 PHPStan: analyse statique PHP...', ./vendor/bin/phpstan analyse --no-progress

feat(frontend): add ProductSchema with Effect.ts validation
  resources/js/lib/schemas/ProductSchema.test.ts
  resources/js/lib/schemas/ProductSchema.ts
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write

feat(frontend): add ProductForm component with Effect.ts validation
  resources/js/components/ProductForm.tsx
Due: echo ' 🔧 Biome: formatage et lint JavaScript/TypeScript...', biome check --write
